.sign-up-container{
    margin-top: 100px;
}
.return-user{
    cursor:pointer;
    color:#458ff6;
    transition: all 0.2s ease;
}
.return-user:hover{
    color: #FFCE31;
}
.form-container{
    padding: 20px;
    box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 1px 3px 1px rgb(60 64 67 / 15%);
    border-radius: 6px;
}