.services-area nav li,
.services-area nav li span{
    color: black;
    cursor: pointer;
    font-weight: 600;
    position: relative;
}

.serviceHeading{
    padding-bottom:10px;
    border-bottom: 2px solid #458ff6;
}

.services-area nav li span:hover{
    color: #000;
}
.services-area nav .active{
    color: red;
}

.services-area nav .active::after{
    content: "";
    width: 80%;
    margin: 0 auto;
    height: 3px;
    position: absolute;
    bottom: 8px;
    left: 10%;
    background-color: rgb(255, 69, 101);
    display: block;
}

.services-area nav .nav-link:before{
    content: "";
    position: absolute;
    bottom: 8px;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 3px;
    visibility: hidden;
    background: rgb(255, 69, 101);
    transition: all 0.5s ease-out;
}

.services-area nav .nav-link:hover:before {
    width: 80%;
    height: 3px;
    visibility: visible;
}
.services-area .card{
    height: 100%;
    border: none;
    box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 1px 3px 1px rgb(60 64 67 / 15%);
    transition: all .28s cubic-bezier(.15,0,.15,1) 0s;
}
.services-area .card-img-top{
    width: 60%;
    display: block;
    padding-top: 10px;
    margin: 0 auto;
}

.services-area div > a{
    color: #000;
    text-decoration: none;
}

.services-area div > a:hover{
    text-decoration: none;
}

.services-area .card:hover{
   box-shadow: 0 1px 2px 0 rgb(60 64 67 / 50%), 0 1px 3px 1px rgb(60 64 67 / 35%);
   transform: translateY(-2px);
}