.cardContainer {
	align-self: stretch;
	background-color: #ffffff;
	box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 1px 3px 1px rgb(60 64 67 / 15%);
    transition: all .28s cubic-bezier(.15,0,.15,1) 0s;
	height: 100%;
	margin-bottom: 30px;
	border-radius: 3px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	overflow: hidden;
}
.article-card{
	display: flex;
	justify-content: space-between;
}
.imageContainer{
    position: relative;
    height: 130px;
    width: 100%;
    background-color: #458ff6;
    margin-bottom: 25px;
}
.imageContainer img {
	position:absolute;
	left: calc(50% - 75px);
	top:10px;
	transition: all 0.3s ease;
	width: 150px;
    height:150px;
	border-radius: 50%;
	cursor: pointer;
}
.cardContainer img:hover{
	transform: scale(1.1);
}
.infoContainer {
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	padding: 25px;
}
.articleHeading {
	font-weight: 700;
	line-height: 2rem;
}
.articleText {
	margin: 15px 0;
	font-size: 0.9rem;
	font-weight: 300;
	line-height: 1.5rem;
}
.infoContainer a {
	text-decoration: none;
	color: #4089ed;
	margin-top: auto;
	justify-self: flex-end;
}

.article-footer button{
	border:none;
	height:35px;
	color:#fff; 
	font-size: 18px;
	transition: all 0.2s linear;
	border: 1px solid transparent;
}

.article-btn-love{
	background-color: #dc3545;
}

.article-btn-love:hover{
	background-color: #fff;
	color: #dc3545;
	border: 1px solid #dc3545;
}
.article-btn-share{
	background-color: #FFCE31;
}

.article-btn-share:hover{
	background-color: #fff;
	color: #FFCE31;
	border: 1px solid #FFCE31;
}

.article-btn-learn-more{
	background-color: #458ff6;
}

.article-btn-learn-more:hover{
	background-color: #fff;
	color: #458ff6;
	border: 1px solid #458ff6;
}

@media screen and (max-width: 600px) {
	.cardContainer {
		max-width: 100%;
	}
}