.service-image{
    height: 250px;
    width: 100%;
}

.service-button{
    width: 100%;
    background-color:#458ff6;
    color: #fff;
    height:35px;
    border:none;
    transition: all 0.2s ease-in-out;
}

.service-button:hover{
    background-color:#FFCE31;
}