
.card:hover .card-img-top {
	animation: shake 0.3s ease-in-out 3;
}
.card:hover .card-img-top {
	animation: grow 0.3s forwards;
}
@keyframes shake {
	30% {
		transform: rotate(-10deg);
	}
	50% {
		transform-origin: center center;
	}
	100% {
		transform: rotate(10deg);
	}
}
@keyframes grow {
	0% {
		transform: scale(1);
	}
	100% {
		transform: scale(1.05);
	}
}