.hero-section {
	margin-top: 100px;
}
.heroHeading {
	font-size: 3rem;
}
.heroDes {
	margin: 2rem 0;
	width: 90%;
	font-size: 1.1rem;
	font-weight: 300;
	line-height: 1.7rem;
}
.heroImageContainer {
	width: 55%;
}
.dotPattern {
	position: absolute;
	top: 10rem;
	left: 0;
}

